<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>{{ airport }} Departure Schedule</title>
</head>
<body>
<table>
    <tr>
        <th>Flight</th>
        <th>Time</th>
        <th>Delay</th>
        <th>Airline</th>
        <th>Destination</th>
        <th>Remarks</th>
    </tr>
    {% for flight in data %}
        <tr>
            <td>{{ flight["ident"] }}</td>
            <td>{{ flight["scheduled_off"] }}</td>
            <td>{% if flight["departure_delay"] %}
                {{ flight["departure_delay"] }}
            {% else %}
            {% endif %}
            </td>
            <td>{{ flight["operator"] }}</td>
            <td>{{ flight["destination"]["name"] }}</td>
            <td>{% if flight["status"] != "Scheduled" %}
                {{ flight["status"] }}
                {% else %}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
</body>
</html>